@font-face{
	font-family: "Akurrat Regular";
	src: url('assets/fonts/Akkurat-Regular.ttf');
}
@font-face{
	font-family: "Akkurat Bold";
	font-weight: bold;
	src: url('assets/fonts/Akkurat-Bold.otf');
}
