/** IMPORT **/
@import "mediaqueries";
@import "fonts";

/** VARIBALES **/
$bgcolor : #ffffff;
/** DEFINITION DU CSS */
body{
  width: 100%;
  height: auto;
  background-color: $bgcolor;
  .container-fluid{
    .container{
      .row{
        width: 100%;
        height: 100%;
        .columnOne{
          width: 33.3%;
          height: auto;
          margin-right: 2em;
          box-shadow:1px 2px 3px 4px #F1F1F1;
          /** Commun classes **/
          .strip{
            width: 100%;
            height: 50px;
            background: #e4e4e4;
            text-align: center;
            color: white;
            font-weight: bold;
            font-size: 20px;
            margin-top: 1em;
            padding-top: 10px;
          }
          .content{
            .container {
              width: 100%; /* Full width */
              background-color: #ddd; /* Grey background */
            }
          }
          /** Case by case **/
          #ONE{
            display: flex;
            #photo{
              border: 1px solid $bgcolor;
              img{
                width: 150px;
                height: auto;
                box-shadow:1px 2px 3px 4px #9f9f9f;
              }
            }
            #name{
              font-family: Helvetica,sans-serif;
              color: #b5b5b5;
              text-align: center;
              margin-top: 5em;
            }
          }
          #prez{
            height: 200px;
          }
          #skills{
            height: 300px;
            p{
              font-weight: bold;
              margin-top: 10px;
            }
            .skill {
              text-align: center;
              padding-right: 20px;
              line-height: 30px;
              color: white;
              border-radius: 20px;
            }
            .html {
              width: 90%;
              background-color: #8e8e8e;
            }
            .css {
              width: 50%;
              background-color: #8e8e8e;
            }
            .js {
              width: 30%;
              background-color: #8e8e8e;
            }
          }
          #info{
            height: 200px;
          }
        }
        .columnTwo{
          width: 70%;
          box-shadow:1px 2px 3px 4px #F1F1F1;
          display: flex;
        }
      }
    }
  }
}
